<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>CheckLogin</filter-name>
		<display-name>CheckLogin</display-name>
		<filter-class>com.techbydev.filter.CheckLogin</filter-class>
	</filter>
	<filter>
		<filter-name>CheckAdminUser</filter-name>
		<display-name>CheckAdminUser</display-name>
		<filter-class>com.techbydev.filter.CheckAdminUser</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CheckLogin</filter-name>
		<url-pattern>/dashBoard</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckLogin</filter-name>
		<url-pattern>/project</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckLogin</filter-name>
		<url-pattern>/task</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckLogin</filter-name>
		<url-pattern>/logoutUser</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAdminUser</filter-name>
		<url-pattern>/createProject</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAdminUser</filter-name>
		<url-pattern>/createTask</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAdminUser</filter-name>
		<url-pattern>/assignTask</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAdminUser</filter-name>
		<url-pattern>/assignProject</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAdminUser</filter-name>
		<url-pattern>/bindUserProject</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAdminUser</filter-name>
		<url-pattern>/bindUserTask</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>homePage</servlet-name>
		<jsp-file>/home.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>aboutUsPage</servlet-name>
		<jsp-file>/aboutUs.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>loginPage</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>createProjectPage</servlet-name>
		<jsp-file>/createProject.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>createTaskPage</servlet-name>
		<jsp-file>/createTask.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>assignProjectPage</servlet-name>
		<jsp-file>/assignProject.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>registerUserPage</servlet-name>
		<jsp-file>/createUser.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>homePage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aboutUsPage</servlet-name>
		<url-pattern>/aboutUs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginPage</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createProjectPage</servlet-name>
		<url-pattern>/createProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createTaskPage</servlet-name>
		<url-pattern>/createTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>assignProjectPage</servlet-name>
		<url-pattern>/assignProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerUserPage</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
</web-app>
